Code/PHP/Cinema/wsdl/_Metadata_Schema_GIS.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/Metadata/GIS" xmlns:tns="http://services.sapo.pt/Metadata/GIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element name="CountryId" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" />
      <xs:element name="CountryName" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" />
      <xs:element name="Latitude" type="xs:float" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="Longitude" type="xs:float" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="Continent" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="Capital" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="AreaInSqKm" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="Population" type="xs:int" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="CurrencyCode" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" type="tns:Country" nillable="true" />
  <xs:complexType name="District">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
      <xs:element minOccurs="0" name="Municipalities" nillable="true" type="tns:ArrayOfMunicipality" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMunicipality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Municipality" nillable="true" type="tns:Municipality" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Municipality">
    <xs:sequence>
      <xs:element minOccurs="0" name="MunicipalityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MunicipalityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
      <xs:element minOccurs="0" name="UrlForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parishes" nillable="true" type="tns:ArrayOfParish" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfParish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parish" nillable="true" type="tns:Parish" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parish">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParishId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parish" nillable="true" type="tns:Parish" />
  <xs:element name="ArrayOfParish" nillable="true" type="tns:ArrayOfParish" />
  <xs:element name="Municipality" nillable="true" type="tns:Municipality" />
  <xs:element name="ArrayOfMunicipality" nillable="true" type="tns:ArrayOfMunicipality" />
  <xs:element name="District" nillable="true" type="tns:District" />
</xs:schema>