Code/Windows8/XAML+CSharp/SOAP/CSharpSOAP_ProxyInAppProj/Videos/Service References/StsServiceReference/STS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mrkt0="http://services.sapo.pt/Metadata/Market" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.sapo.pt/definitions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:esb="http://services.sapo.pt/definitions" targetNamespace="http://services.sapo.pt/definitions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/definitions">
      <xsd:include schemaLocation="esbCredentials.xsd" />
      <xsd:import schemaLocation="_Metadata_Schema_Market.xsd" namespace="http://services.sapo.pt/Metadata/Market" />
      <xsd:include schemaLocation="STS.xsd" />
      <xsd:element name="GetPrimaryId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ESBCredentials" type="esb:ESBCredentials" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UserLogin" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="JSON" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UserType" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UserLoginCredentialsStore" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPrimaryIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetPrimaryIdResult" type="esb:UserInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPrimaryIdDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ESBCredentials" type="esb:ESBCredentials" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UserLogin" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="JSON" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UserType" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UserLoginCredentialsStore" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPrimaryIdDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetPrimaryIdDetailsResult" type="esb:UserInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetToken">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ESBCredentials" type="esb:ESBCredentials" />
            <xsd:element minOccurs="0" maxOccurs="1" name="JSON" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ESBCredentialsSoapIn">
    <part name="ESBCredentials" element="esb:ESBCredentials" />
  </message>
  <message name="GetPrimaryIdSoapIn">
    <part name="parameters" element="esb:GetPrimaryId" />
  </message>
  <message name="GetPrimaryIdSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="GetPrimaryIdSoapOut">
    <part name="parameters" element="esb:GetPrimaryIdResponse" />
  </message>
  <message name="GetPrimaryIdSoap12In">
    <part name="parameters" element="esb:GetPrimaryId" />
  </message>
  <message name="GetPrimaryIdSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="GetPrimaryIdSoap12Out">
    <part name="parameters" element="esb:GetPrimaryIdResponse" />
  </message>
  <message name="GetPrimaryIdDetailsSoapIn">
    <part name="parameters" element="esb:GetPrimaryIdDetails" />
  </message>
  <message name="GetPrimaryIdDetailsSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="GetPrimaryIdDetailsSoapOut">
    <part name="parameters" element="esb:GetPrimaryIdDetailsResponse" />
  </message>
  <message name="GetPrimaryIdDetailsSoap12In">
    <part name="parameters" element="esb:GetPrimaryIdDetails" />
  </message>
  <message name="GetPrimaryIdDetailsSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="GetPrimaryIdDetailsSoap12Out">
    <part name="parameters" element="esb:GetPrimaryIdDetailsResponse" />
  </message>
  <message name="GetTokenSoapIn">
    <part name="parameters" element="esb:GetToken" />
  </message>
  <message name="GetTokenSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="GetTokenSoapOut">
    <part name="parameters" element="esb:GetTokenResponse" />
  </message>
  <message name="GetTokenSoap12In">
    <part name="parameters" element="esb:GetToken" />
  </message>
  <message name="GetTokenSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="GetTokenSoap12Out">
    <part name="parameters" element="esb:GetTokenResponse" />
  </message>
  <portType name="STSSoapSecure">
    <operation name="GetPrimaryId">
      <documentation>Devolve informação do utilizador, o seu identificador primário e um token de segurança.</documentation>
      <input message="esb:GetPrimaryIdSoapIn" />
      <output message="esb:GetPrimaryIdSoapOut" />
    </operation>
    <operation name="GetPrimaryIdDetails">
      <documentation>Devolve informação do utilizador, o seu identificador primário, um token de segurança e uma colecção de atributos </documentation>
      <input message="esb:GetPrimaryIdDetailsSoapIn" />
      <output message="esb:GetPrimaryIdDetailsSoapOut" />
    </operation>
    <operation name="GetToken">
      <documentation>Devolve um token se um determinado username e senha forem válidos</documentation>
      <input message="esb:GetTokenSoapIn" />
      <output message="esb:GetTokenSoapOut" />
    </operation>
  </portType>
  <portType name="STSSoap12Secure">
    <operation name="GetPrimaryId">
      <documentation>Devolve informação do utilizador, o seu identificador primário e um token de segurança.</documentation>
      <input message="esb:GetPrimaryIdSoap12In" />
      <output message="esb:GetPrimaryIdSoap12Out" />
    </operation>
    <operation name="GetPrimaryIdDetails">
      <documentation>Devolve informação do utilizador, o seu identificador primário, um token de segurança e uma colecção de atributos </documentation>
      <input message="esb:GetPrimaryIdDetailsSoap12In" />
      <output message="esb:GetPrimaryIdDetailsSoap12Out" />
    </operation>
    <operation name="GetToken">
      <documentation>Devolve um token se um determinado username e senha forem válidos</documentation>
      <input message="esb:GetTokenSoap12In" />
      <output message="esb:GetTokenSoap12Out" />
    </operation>
  </portType>
  <binding name="STSSoapSecure" type="esb:STSSoapSecure">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetPrimaryId">
      <soap:operation soapAction="http://services.sapo.pt/definitions/GetPrimaryId" style="document" />
      <input>
        <soap:header message="esb:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="esb:GetPrimaryIdSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryIdDetails">
      <soap:operation soapAction="http://services.sapo.pt/definitions/GetPrimaryIdDetails" style="document" />
      <input>
        <soap:header message="esb:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="esb:GetPrimaryIdDetailsSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetToken">
      <soap:operation soapAction="http://services.sapo.pt/definitions/GetToken" style="document" />
      <input>
        <soap:header message="esb:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="esb:GetTokenSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="STSSoap12Secure" type="esb:STSSoap12Secure">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetPrimaryId">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/GetPrimaryId" style="document" />
      <input>
        <soap12:header message="esb:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="esb:GetPrimaryIdSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrimaryIdDetails">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/GetPrimaryIdDetails" style="document" />
      <input>
        <soap12:header message="esb:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="esb:GetPrimaryIdDetailsSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetToken">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/GetToken" style="document" />
      <input>
        <soap12:header message="esb:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="esb:GetTokenSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="STS">
    <documentation>Permite a obtenção de um TOKEN de autenticação para utilizadores SAPO (via email e password). Este TOKEN pode ser utilizado em serviços e/ou operações que requeiram algum nível de autorização específico.</documentation>
    <port name="STSSoapSecure" binding="esb:STSSoapSecure">
      <soap:address location="https://services.sapo.pt/STS" />
    </port>
    <port name="STSSoap12Secure" binding="esb:STSSoap12Secure">
      <soap12:address location="https://services.sapo.pt/STS" />
    </port>
  </service>
</definitions>