Client-SDK/Code/PHP/ServicesTestConsole/API/config/Photos_Types.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/definitions/Photos" xmlns:tns="http://services.sapo.pt/definitions/Photos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element name="id" type="xs:int" maxOccurs="1" minOccurs="0" />
      <xs:element name="ownerId" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="creationDate" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="user" type="tns:User" minOccurs="0" maxOccurs="1" />
      <xs:element name="cover" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="banned" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="commentCaptcha" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="commentModerate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="commentNotify" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="creationDate" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="lastLogin" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="partner" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="uploadMail" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="viewAll" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="avatar" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumCreateResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="album" type="tns:Album" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:annotation>
      <xs:documentation xml:lang="en">&lt;p&gt;Object for pagination help&lt;/p&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="total" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total number of items existing at the server-side - not the total of items returned in the result.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="page" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The current page to which the result belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total number of pages for the universe of existing results in the server-side.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="perPage" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The number of items per page.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ok" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the success or failure of the outcome.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description of the outcome, mostly used for errors.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Collection">
    <xs:annotation>
      <xs:documentation xml:lang="en">Collection object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="creationDate" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="user" type="tns:User" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="cover" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumGetListByCollectionResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="albums" type="tns:ArrayOfAlbums" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAlbums">
    <xs:sequence>
      <xs:element name="album" type="tns:Album" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumGetListByHighlightedResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" nillable="true" />
      <xs:element name="albums" type="tns:ArrayOfAlbums" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumGetListByUserResult">
    <xs:sequence>
      <xs:element name="albums" type="tns:ArrayOfAlbums" minOccurs="0" maxOccurs="1" />
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionGetListByUserResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="collections" type="tns:ArrayOfCollections" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCollections">
    <xs:sequence>
      <xs:element name="collection" type="tns:Collection" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="creationDate" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="pending" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="uid" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="subtitle" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="synopse" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="rating" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="comments" type="tns:ArrayOfComments" minOccurs="0" maxOccurs="1" />
      <xs:element name="m18" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="innapropriate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="format" type="tns:Format" minOccurs="0" maxOccurs="1" />
      <xs:element name="albums" type="tns:ArrayOfAlbums" minOccurs="0" maxOccurs="1" />
      <xs:element name="user" type="tns:User" minOccurs="0" maxOccurs="1" />
      <xs:element name="emailFrom" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="visualizations" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="views" type="tns:ArrayOfViews" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An array with View objects</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refColor" type="tns:Color" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference RGB color of the image</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="avgColor" type="tns:Color" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The single average RGB color of the image</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfComments">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="comment" type="tns:Comment" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element name="date" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="nickname" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="website" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="body" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Format">
    <xs:restriction base="xs:string">
      <xs:enumeration value="jpeg" />
      <xs:enumeration value="jpg" />
      <xs:enumeration value="bmp" />
      <xs:enumeration value="gif" />
      <xs:enumeration value="png" />
      <xs:enumeration value="tiff" />
      <xs:enumeration value="tif" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfViews">
    <xs:sequence>
      <xs:element name="view" type="tns:View" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="View">
    <xs:sequence>
      <xs:element name="actualWidth" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="actualHeight" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="requestWidth" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="requestHeight" type="xs:int" minOccurs="0" maxOccurs="1" />
      <xs:element name="url" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="size" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The textual description of the format</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element name="red" type="xs:int" minOccurs="1" maxOccurs="1" />
      <xs:element name="green" type="xs:int" minOccurs="1" maxOccurs="1" />
      <xs:element name="blue" type="xs:int" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageAddToAlbumResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageCreateResult">
    <xs:sequence>
      <xs:element name="token" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A token that should be used to upload the actual image file afterwards</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="image" type="tns:Image" minOccurs="0" maxOccurs="1" />
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageDetailsResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="image" type="tns:Image" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageEditResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="image" type="tns:Image" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The altered image</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListBySearchResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="images" type="tns:ArrayOfImages" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfImages">
    <xs:sequence>
      <xs:element name="image" type="tns:Image" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfStrings">
    <xs:sequence>
      <xs:element name="string" type="xs:string" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListByTagsResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="images" type="tns:ArrayOfImages" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListByUserResult">
    <xs:annotation>
      <xs:documentation xml:lang="en">Result object for the ImageGetListByUser method</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="images" type="tns:ArrayOfImages" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListByUserAlbumResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="images" type="tns:ArrayOfImages" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageNotifyViewResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TagsGetListByHighlightedResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="0" maxOccurs="1" nillable="true" />
      <xs:element name="tags" type="tns:ArrayOfTags" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserCreateResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="user" type="tns:User" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserDetailsResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
      <xs:element name="user" type="tns:User" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserGetListByHighlightedResult">
    <xs:sequence>
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" nillable="true" />
      <xs:element name="users" type="tns:ArrayOfUsers" minOccurs="0" maxOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element name="user" type="tns:User" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserGetTagsResult">
    <xs:sequence>
      <xs:element name="tags" type="tns:ArrayOfTags" minOccurs="0" maxOccurs="1" />
      <xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>