Code/Windows8/CommonWinRT/PhotosProxy/Service References/PhotosServiceReference/esbCredentials.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://services.sapo.pt/definitions" elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/definitions" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="ESBCredentials" type="tns:ESBCredentials" />
  <complexType name="ESBCredentials">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="ESBUsername" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBPassword" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBToken" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBRoles" type="tns:ESBRoles" />
      <element minOccurs="0" maxOccurs="1" name="ESBTokenTimeToLive" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBTokenExtraInfo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBPrimaryId" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBUserType" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ESBCredentialsStore" type="string" />
    </sequence>
  </complexType>
  <element name="ESBRoles" type="tns:ESBRoles" />
  <complexType name="ESBRoles">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="ESBRole" type="string" />
    </sequence>
  </complexType>
</schema>