Client-SDK/Code/Windows8/XAML+CSharp/SOAP/Code_Samples/CSharpSOAP_ProxyInAppProj/Photos/Service References/PhotosReference/Photos_Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.sapo.pt/definitions/Photos" elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/definitions/Photos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ownerId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="creationDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="url" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      <xs:element minOccurs="0" maxOccurs="1" name="cover" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="banned" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="commentCaptcha" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="commentModerate" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="commentNotify" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="creationDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lastLogin" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="partner" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="uploadMail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="viewAll" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="avatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumCreateResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="album" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:annotation>
      <xs:documentation xml:lang="en">&lt;p&gt;Object for pagination help&lt;/p&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="total" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total number of items existing at the server-side - not the total of items returned in the result.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="page" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">The current page to which the result belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="totalPages" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total number of pages for the universe of existing results in the server-side.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="perPage" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">The number of items per page.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ok" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the success or failure of the outcome.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description of the outcome, mostly used for errors.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Collection">
    <xs:annotation>
      <xs:documentation xml:lang="en">Collection object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="creationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="user" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cover" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumGetListByCollectionResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="albums" nillable="true" type="tns:ArrayOfAlbums" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAlbums">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="album" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumGetListByHighlightedResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="albums" nillable="true" type="tns:ArrayOfAlbums" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumGetListByUserResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="albums" type="tns:ArrayOfAlbums" />
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionGetListByUserResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="collections" nillable="true" type="tns:ArrayOfCollections" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCollections">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="collection" type="tns:Collection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="creationDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="pending" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="uid" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="subtitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="synopse" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="url" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="rating" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tags" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="comments" type="tns:ArrayOfComments" />
      <xs:element minOccurs="0" maxOccurs="1" name="m18" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="innapropriate" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="format" type="tns:Format" />
      <xs:element minOccurs="0" maxOccurs="1" name="albums" type="tns:ArrayOfAlbums" />
      <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      <xs:element minOccurs="0" maxOccurs="1" name="emailFrom" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="visualizations" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="views" type="tns:ArrayOfViews">
        <xs:annotation>
          <xs:documentation xml:lang="en">An array with View objects</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="refColor" type="tns:Color">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference RGB color of the image</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="avgColor" type="tns:Color">
        <xs:annotation>
          <xs:documentation xml:lang="en">The single average RGB color of the image</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfComments">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="date" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="nickname" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="website" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="body" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Format">
    <xs:restriction base="xs:string">
      <xs:enumeration value="jpeg" />
      <xs:enumeration value="jpg" />
      <xs:enumeration value="bmp" />
      <xs:enumeration value="gif" />
      <xs:enumeration value="png" />
      <xs:enumeration value="tiff" />
      <xs:enumeration value="tif" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfViews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="view" type="tns:View" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="View">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="actualWidth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="actualHeight" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="requestWidth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="requestHeight" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="url" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="size" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">The textual description of the format</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="red" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="green" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="blue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageAddToAlbumResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageCreateResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="token" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">A token that should be used to upload the actual image file afterwards</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="image" type="tns:Image" />
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="image" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageEditResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="image" type="tns:Image">
        <xs:annotation>
          <xs:documentation xml:lang="en">The altered image</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListBySearchResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="images" type="tns:ArrayOfImages" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfImages">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="image" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfStrings">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListByTagsResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="images" type="tns:ArrayOfImages" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListByUserResult">
    <xs:annotation>
      <xs:documentation xml:lang="en">Result object for the ImageGetListByUser method</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="images" type="tns:ArrayOfImages" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageGetListByUserAlbumResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="images" type="tns:ArrayOfImages" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageNotifyViewResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TagsGetListByHighlightedResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="tags" nillable="true" type="tns:ArrayOfTags" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserCreateResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserGetListByHighlightedResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" maxOccurs="1" name="users" nillable="true" type="tns:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="user" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserGetTagsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="tags" type="tns:ArrayOfTags" />
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>