Client-SDK/Code/Windows8/XAML+CSharp/SOAP/Code_Samples/CSharpSOAP_ProxyInAppProj/Photos/Service References/PhotosReference/Photos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mrkt0="http://services.sapo.pt/Metadata/Market" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.sapo.pt/definitions/Photos" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:esb="http://services.sapo.pt/definitions" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.sapo.pt/definitions/Photos" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://services.sapo.pt/definitions/Photos">
      <xsd:import schemaLocation="esbCredentials.xsd" namespace="http://services.sapo.pt/definitions" />
      <xsd:import schemaLocation="_Metadata_Schema_Market.xsd" namespace="http://services.sapo.pt/Metadata/Market" />
      <xsd:include schemaLocation="Photos_Types.xsd" />
      <xsd:element name="AlbumCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="album" type="tns:Album" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AlbumCreateResult" type="tns:AlbumCreateResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type Album.&lt;/p&gt;
&lt;p&gt;This method returns the album url, as well as the link for future cover.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo Album.&lt;/p&gt;
&lt;p&gt;Este método devolve já o url para o álbum, assim como o link para a futura capa.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumGetListByCollection">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="collection" type="tns:Collection" />
            <xsd:element minOccurs="0" maxOccurs="1" name="page" nillable="true" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumGetListByCollectionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AlbumGetListByCollectionResult" type="tns:AlbumGetListByCollectionResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type ArrayOfAlbums.&lt;/p&gt;
&lt;p&gt;This method does not return any information about the images in the albums returned.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo ArrayOfAlbums.&lt;/p&gt;
&lt;p&gt;Este método não devolve quaisquer informações acerca das imagens contidas nos álbuns devolvidos.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumGetListByHighlighted">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The page number to obtain (1-based).&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O número da página a obter (1-based).&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" nillable="true" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The orderBy field may take the following values​​:&lt;/p&gt;

&lt;ul&gt;
 &lt;li&gt;alfabeticamente (alphabetically)&lt;/ li&gt;
 &lt;li&gt;alfabeticamente-inversa (reverse-alphabetically)&lt;/ li&gt;
 &lt;li&gt;maisantigas (oldest pictures)&lt;/ li&gt;
 &lt;li&gt;maisantigos (oldest albuns, sets) &lt;/ li&gt;
 &lt;li&gt;maisrecentes (newers)&lt;/ li&gt;
 &lt;li&gt;relevancia (relevance)&lt;/ li&gt;
 &lt;li&gt;id (identifier)&lt;/ li&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O campo de ordenação, pode tomar os valores seguintes:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;alfabeticamente&lt;/li&gt;
&lt;li&gt;alfabeticamente-inversa&lt;/li&gt;
&lt;li&gt;maisantigas (para fotos)&lt;/li&gt;
&lt;li&gt;maisantigos (para álbuns, conjuntos)&lt;/li&gt;
&lt;li&gt;maisrecentes&lt;/li&gt;
&lt;li&gt;relevancia&lt;/li&gt;
&lt;li&gt;id (identificador)&lt;/li&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="intf" nillable="true" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Interface to which you want to get the highlights (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumGetListByHighlightedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AlbumGetListByHighlightedResult" type="tns:AlbumGetListByHighlightedResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type ArrayOfAlbums.&lt;/p&gt;
&lt;p&gt;This method does not return any information about the images in the albums returned.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo ArrayOfAlbums.&lt;/p&gt;
&lt;p&gt;Este método não devolve quaisquer informações acerca das imagens contidas nos álbuns devolvidos.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumGetListByUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;It's not necessary to fill this parameter if the credentials user is the owner of the album.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Não é necessário preencher este parâmetro, caso o utilizador das credenciais seja o dono do álbum.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The page number to obtain (1-based).&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O número da página a obter (1-based).&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The orderBy field may take the following values​​:&lt;/p&gt;

&lt;ul&gt;
 &lt;li&gt;alfabeticamente (alphabetically)&lt;/ li&gt;
 &lt;li&gt;alfabeticamente-inversa (reverse-alphabetically)&lt;/ li&gt;
 &lt;li&gt;maisantigas (oldest pictures)&lt;/ li&gt;
 &lt;li&gt;maisantigos (oldest albuns, sets) &lt;/ li&gt;
 &lt;li&gt;maisrecentes (newers)&lt;/ li&gt;
 &lt;li&gt;relevancia (relevance)&lt;/ li&gt;
 &lt;li&gt;id (identifier)&lt;/ li&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O campo de ordenação, pode tomar os valores seguintes:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;alfabeticamente&lt;/li&gt;
&lt;li&gt;alfabeticamente-inversa&lt;/li&gt;
&lt;li&gt;maisantigas (para fotos)&lt;/li&gt;
&lt;li&gt;maisantigos (para álbuns, conjuntos)&lt;/li&gt;
&lt;li&gt;maisrecentes&lt;/li&gt;
&lt;li&gt;relevancia&lt;/li&gt;
&lt;li&gt;id (identificador)&lt;/li&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Interface to which you want to get the highlights (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlbumGetListByUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AlbumGetListByUserResult" type="tns:AlbumGetListByUserResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type ArrayOfAlbums.&lt;/p&gt;
&lt;p&gt;This method does not return any information about the images in the albums returned.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo ArrayOfAlbums.&lt;/p&gt;
&lt;p&gt;Este método não devolve quaisquer informações acerca das imagens contidas nos álbuns devolvidos.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CollectionGetListByUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">You only need to fill in the username.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Apenas é necessário preencher o username.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The page number to obtain (1-based).&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O número da página a obter (1-based).&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" nillable="true" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The orderBy field may take the following values​​:&lt;/p&gt;

&lt;ul&gt;
 &lt;li&gt;alfabeticamente (alphabetically)&lt;/ li&gt;
 &lt;li&gt;alfabeticamente-inversa (reverse-alphabetically)&lt;/ li&gt;
 &lt;li&gt;maisantigas (oldest pictures)&lt;/ li&gt;
 &lt;li&gt;maisantigos (oldest albuns, sets) &lt;/ li&gt;
 &lt;li&gt;maisrecentes (newers)&lt;/ li&gt;
 &lt;li&gt;relevancia (relevance)&lt;/ li&gt;
 &lt;li&gt;id (identifier)&lt;/ li&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O campo de ordenação, pode tomar os valores seguintes:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;alfabeticamente&lt;/li&gt;
&lt;li&gt;alfabeticamente-inversa&lt;/li&gt;
&lt;li&gt;maisantigas (para fotos)&lt;/li&gt;
&lt;li&gt;maisantigos (para álbuns, conjuntos)&lt;/li&gt;
&lt;li&gt;maisrecentes&lt;/li&gt;
&lt;li&gt;relevancia&lt;/li&gt;
&lt;li&gt;id (identificador)&lt;/li&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CollectionGetListByUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CollectionGetListByUserResult" type="tns:CollectionGetListByUserResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type ArrayOfCollections&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo ArrayOfCollections.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DummyEcho">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="echoStr" nillable="true" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Receives a string as an optional parameter.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Recebe uma string como parâmetro opcional.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DummyEchoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DummyEchoResult" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns a string with a timestamp and the text sent as input parameter.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve uma string com um timestamp e o texto enviado como parâmetro de entrada.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageAddToAlbum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Should be specified as many albums as you want to add to the image. Should be necessarily added the attributes 'Image:: uid' and 'Album: id'.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Deverão ser especificados tantos álbuns quantos os que se quer adicionar à imagem. Deverão obrigatoriamente ser preenchidos os atributos 'Image::uid' e 'Album::id'.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Interface to which you want to get the highlights (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageAddToAlbumResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageAddToAlbumResult" type="tns:ImageAddToAlbumResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns only the type result.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Retorna apenas o tipo result.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;It's not mandatory to fill any attributes, although it is a good idea to fill at least the following:&lt;/ p&gt;
&lt;ul&gt;
 &lt;li&gt;title&lt;/ li&gt;
 &lt;li&gt;synopsis&lt;/ li&gt;
 &lt;li&gt;tags (for now any 'space', ';' or ',' separate tags - to use several words in the same tag, use underscore'_')&lt;/ li&gt;
 &lt;/ ul&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Não é obrigatório o preenchimento de quaisquer atributos, embora seja boa ideia preencher pelo menos os seguintes:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;title&lt;/li&gt;
&lt;li&gt;synopse&lt;/li&gt;
&lt;li&gt;tags (por enquanto quaisquer 'space', ';' ou ',' separam as tags - para usar várias palavras na mesma tag, usar underscore '_')&lt;/li&gt;
&lt;/ul&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Interface to which you want to get the highlights (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageCreateResult" type="tns:ImageCreateResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type Image with more meta-info about the image and also a string with a token. The last one should be used to complete the upload process.&lt;/ P&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve uma instância do tipo Image com mais meta-info acerca da imagem e também uma string com um token. Este último deverá ser utilizado para completar o processo de upload.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageDelete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The attribute 'Image:: uid' must always be filled.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Deverá obrigatoriamente ser preenchido o atributo 'Image::uid'.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageDeleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageDeleteResult" type="tns:Result" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The attribute 'Image::uid' must always be filled.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Deverá obrigatoriamente ser preenchido o atributo 'Image::uid'.&lt;/p&gt; </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageDetailsResult" type="tns:ImageDetailsResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An object of type Image, filled with the remaining details of the image.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Um objecto do tipo Image, preenchido com os restantes detalhes da imagem. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageEdit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;You must have the 'Image:: uid' filled as a way of identifying the image to be edit. It isn't mandatory to fill any other attributes.&lt;/p&gt;
&lt;p&gt;Fields available for update are as follows:&lt;/p&gt;
 &lt;ul&gt;
 &lt;li&gt;Image::title&lt;/li&gt;
 &lt;li&gt;Image::active&lt;/li&gt;
 &lt;li&gt;Image::password&lt;/li&gt;
 &lt;li&gt;Image::m18&lt;/li&gt;
 &lt;li&gt;Image::synopsis&lt;/li&gt;
 &lt;li&gt;Image::tags (for now any 'space', ';' or ',' separate tags - to use several words in the same tag, use underscore '_')&lt;/li&gt;
 &lt;/ul&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;É necessário ter o campo 'Image::uid' preenchido como modo de identificação da imagem a editar. Não é obrigatório o preenchimento de quaisquer outros atributos.&lt;/p&gt; 
&lt;p&gt;Os campos disponíveis para actualização são os seguintes:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Image::title&lt;/li&gt;
&lt;li&gt;Image::active&lt;/li&gt; 
&lt;li&gt;Image::password&lt;/li&gt; 
&lt;li&gt;Image::m18&lt;/li&gt; 
&lt;li&gt;Image::synopse&lt;/li&gt;
&lt;li&gt;Image::tags (por enquanto quaisquer 'space', ';' ou ',' separam as tags - para usar várias palavras na mesma tag, usar underscore '_')&lt;/li&gt;
&lt;/ul&gt; 
</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageEditResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageEditResult" type="tns:ImageEditResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type Image with updated meta-info.&lt;/p&gt;
&lt;p&gt;NOTE: The meta-information of the image will be replaced by the meta-information sent in the input parameter, so you should be aware that fields left blank will remove any information that existed before.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo Image com a meta-info actualizada.&lt;/p&gt;
&lt;p&gt;NOTA: A meta-informação da imagem vai ser substituida pela meta-informação enviada no parâmetro de entrada, pelo que se deve ter em atenção que campos deixados em branco irão remover qualquer informação que existisse anteriormente.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListBySearch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The page number to obtain (1-based).&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O número da página a obter (1-based).&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Interface to which you want to get the highlights (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="terms" type="tns:ArrayOfStrings">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">One or more string for search in description/tags.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Uma ou mais strings para pesquisa na descrição/tags.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="dateFrom" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Minor date limit for search by date.&lt;/p&gt;
&lt;p&gt;Format: It is best to use yyyy-mm-dd, but all PHP function strtotime formats are supported (http://www.php.net/strtotime).&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Data limite inferior para pesquisa por data.&lt;/p&gt;
&lt;p&gt;Formato: é aconselhado usar aaaa-mm-dd, mas são suportados todos os formatos da função strtotime do PHP (http://www.php.net/strtotime).&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="dateTo" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Upper date limit for searching by date.&lt;/p&gt;
&lt;p&gt;Format: It's best to use yyyy-mm-dd, but all PHP function strtotime formats are supported.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Data limite superior para pesquisa por data.&lt;/p&gt;
&lt;p&gt;Formato: é aconselhado usar aaaa-mm-dd, mas são suportados todos os formatos da função strtotime do PHP.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListBySearchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageGetListBySearchResult" type="tns:ImageGetListBySearchResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Returns an instance of type ArrayOfImages. </xsd:documentation>
                <xsd:documentation xml:lang="pt">Devolve no resultado uma instância do tipo ArrayOfImages. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListByTags">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="tags" type="tns:ArrayOfTags">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An array of tags.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Um array com as tags. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The page number to obtain (1-based).</xsd:documentation>
                <xsd:documentation xml:lang="pt">O número da página a obter (1-based).</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The orderBy field may take the following values​​:&lt;/p&gt;

&lt;ul&gt;
 &lt;li&gt;alfabeticamente (alphabetically)&lt;/ li&gt;
 &lt;li&gt;alfabeticamente-inversa (reverse-alphabetically)&lt;/ li&gt;
 &lt;li&gt;maisantigas (oldest pictures)&lt;/ li&gt;
 &lt;li&gt;maisantigos (oldest albuns, sets) &lt;/ li&gt;
 &lt;li&gt;maisrecentes (newers)&lt;/ li&gt;
 &lt;li&gt;relevancia (relevance)&lt;/ li&gt;
 &lt;li&gt;id (identifier)&lt;/ li&gt;
&lt;/ul&gt;
</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O campo de ordenação, pode tomar os valores seguintes:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;alfabeticamente&lt;/li&gt;
&lt;li&gt;alfabeticamente-inversa&lt;/li&gt;
&lt;li&gt;maisantigas (para fotos)&lt;/li&gt;
&lt;li&gt;maisantigos (para álbuns, conjuntos)&lt;/li&gt;
&lt;li&gt;maisrecentes&lt;/li&gt;
&lt;li&gt;relevancia&lt;/li&gt;
&lt;li&gt;id (identificador)&lt;/li&gt;
&lt;/ul&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="m18" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Fill user:username to het images of tags of that user.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Preencher o user::username para obter imagens com as tags desse user. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Interface to which you want to get the highlights (default: fotos.sapo.pt)</xsd:documentation>
                <xsd:documentation xml:lang="pt">Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListByTagsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageGetListByTagsResult" type="tns:ImageGetListByTagsResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListByUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The page number to obtain (1-based).</xsd:documentation>
                <xsd:documentation xml:lang="pt">O número da página a obter (1-based).</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">It's not necessary to fill this parameter if the credentials user is the desired user.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Não é necessário preencher este parâmetro, caso o utilizador das credenciais seja o próprio user.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListByUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageGetListByUserResult" type="tns:ImageGetListByUserResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Returns an instance of type ArrayOfImages. </xsd:documentation>
                <xsd:documentation xml:lang="pt">Devolve no resultado uma instância do tipo ArrayOfImages.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListByUserAlbum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">It's not necessary to fill this parameter if the credentials user is the album owner.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Não é necessário preencher este parâmetro, caso o utilizador das credenciais seja o dono do álbum. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="album" type="tns:Album" />
            <xsd:element minOccurs="0" maxOccurs="1" name="page" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">O número da página a obter (1-based).</xsd:documentation>
                <xsd:documentation xml:lang="pt">The page number to obtain (1-based).</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Interface to which you want to get the highlights (default: fotos.sapo.pt)</xsd:documentation>
                <xsd:documentation xml:lang="pt">Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The orderBy field may take the following values​​:&lt;/p&gt;

&lt;ul&gt;
 &lt;li&gt;alfabeticamente (alphabetically)&lt;/ li&gt;
 &lt;li&gt;alfabeticamente-inversa (reverse-alphabetically)&lt;/ li&gt;
 &lt;li&gt;maisantigas (oldest pictures)&lt;/ li&gt;
 &lt;li&gt;maisantigos (oldest albuns, sets) &lt;/ li&gt;
 &lt;li&gt;maisrecentes (newers)&lt;/ li&gt;
 &lt;li&gt;relevancia (relevance)&lt;/ li&gt;
 &lt;li&gt;id (identifier)&lt;/ li&gt;
&lt;/ul&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O campo de ordenação, pode tomar os valores seguintes:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;alfabeticamente&lt;/li&gt;
&lt;li&gt;alfabeticamente-inversa&lt;/li&gt;
&lt;li&gt;maisantigas (para fotos)&lt;/li&gt;
&lt;li&gt;maisantigos (para álbuns, conjuntos)&lt;/li&gt;
&lt;li&gt;maisrecentes&lt;/li&gt;
&lt;li&gt;relevancia&lt;/li&gt;
&lt;li&gt;id (identificador)&lt;/li&gt;
&lt;/ul&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageGetListByUserAlbumResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageGetListByUserAlbumResult" type="tns:ImageGetListByUserAlbumResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Returns an instance of type ArrayOfImages. </xsd:documentation>
                <xsd:documentation xml:lang="pt">Devolve no resultado uma instância do tipo ArrayOfImages. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageNotifyView">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageNotifyViewResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageNotifyViewResult" type="tns:ImageNotifyViewResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageRemoveFromAlbum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="image" type="tns:Image">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Should be specified as many albums as you want to remove the image from, at most 50. Must fill the attributes 'Image::uid' and 'Album::id'.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Deverão ser especificados tantos álbuns quantos os que se quer remover da imagem, no máximo 50. Deverão obrigatoriamente ser preenchidos os atributos 'Image::uid' e 'Album::id'.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImageRemoveFromAlbumResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ImageRemoveFromAlbumResult" type="tns:Result" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TagsGetListByHighlighted">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="intf" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TagsGetListByHighlightedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TagsGetListByHighlightedResult" type="tns:TagsGetListByHighlightedResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserCreateResult" type="tns:UserCreateResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type User.&lt;/p&gt;
&lt;p&gt;In the result, is returned a link to the profile page and a link to the avatar.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo User.&lt;/p&gt;
&lt;p&gt;No resultado vem já o link para a página de perfil e o link para o avatar.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">It's not necessary to fill this parameter if the credentials user is the desired user.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Não é necessário preencher este parâmetro, caso o utilizador das credenciais seja o utilizador prentendido.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="tns:Format">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Interface to which you want to get the highlights (default: fotos.sapo.pt)</xsd:documentation>
                <xsd:documentation xml:lang="pt">Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserDetailsResult" type="tns:UserDetailsResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Returns an instance of type User.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Devolve no resultado uma instância do tipo User. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserGetListByHighlighted">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="page" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The page number to obtain (1-based).</xsd:documentation>
                <xsd:documentation xml:lang="pt">O número da página a obter (1-based).</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="orderBy" nillable="true" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;The orderBy field may take the following values​​:&lt;/p&gt;

&lt;ul&gt;
 &lt;li&gt;alfabeticamente (alphabetically)&lt;/ li&gt;
 &lt;li&gt;alfabeticamente-inversa (reverse-alphabetically)&lt;/ li&gt;
 &lt;li&gt;maisantigas (oldest pictures)&lt;/ li&gt;
 &lt;li&gt;maisantigos (oldest albuns, sets) &lt;/ li&gt;
 &lt;li&gt;maisrecentes (newers)&lt;/ li&gt;
 &lt;li&gt;relevancia (relevance)&lt;/ li&gt;
 &lt;li&gt;id (identifier)&lt;/ li&gt;
&lt;/ul&gt;
</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;O campo de ordenação, pode tomar os valores seguintes:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;alfabeticamente&lt;/li&gt;
&lt;li&gt;alfabeticamente-inversa&lt;/li&gt;
&lt;li&gt;maisantigas (para fotos)&lt;/li&gt;
&lt;li&gt;maisantigos (para álbuns, conjuntos)&lt;/li&gt;
&lt;li&gt;maisrecentes&lt;/li&gt;
&lt;li&gt;relevancia&lt;/li&gt;
&lt;li&gt;id (identificador)&lt;/li&gt;
&lt;/ul&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="intf" nillable="true" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Interface to which you want to get the highlights (default: fotos.sapo.pt)</xsd:documentation>
                <xsd:documentation xml:lang="pt">Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserGetListByHighlightedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserGetListByHighlightedResult" type="tns:UserGetListByHighlightedResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Returns an instance of type ArrayOfUser. </xsd:documentation>
                <xsd:documentation xml:lang="pt">Devolve no resultado uma instância do tipo ArrayOfUser. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserGetTags">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:User">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">It's not necessary to fill this parameter if the credentials user is the desired user.</xsd:documentation>
                <xsd:documentation xml:lang="pt">Não é necessário preencher este parâmetro, caso o utilizador das credenciais seja o utilizador pretendido. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="interface" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Interface to which you want to get the highlights (default: fotos.sapo.pt)</xsd:documentation>
                <xsd:documentation xml:lang="pt">Interface para o qual se pretende obter os destaques (default: fotos.sapo.pt)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserGetTagsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserGetTagsResult" type="tns:UserGetTagsResult">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">&lt;p&gt;Returns an instance of type ArrayOfTags.&lt;/p&gt;
&lt;p&gt;The list of tags doesn't has any kind of order.&lt;/p&gt;</xsd:documentation>
                <xsd:documentation xml:lang="pt">&lt;p&gt;Devolve no resultado uma instância do tipo ArrayOfTags.&lt;/p&gt;
&lt;p&gt;A listagem de tags não tem qualquer tipo de ordenação.&lt;/p&gt;</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ESBCredentialsSoapIn">
    <part name="ESBCredentials" element="esb:ESBCredentials" />
  </message>
  <message name="AlbumCreateSoapIn">
    <part name="parameters" element="tns:AlbumCreate" />
  </message>
  <message name="AlbumCreateSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="AlbumCreateSoapOut">
    <part name="parameters" element="tns:AlbumCreateResponse" />
  </message>
  <message name="AlbumGetListByCollectionSoapIn">
    <part name="parameters" element="tns:AlbumGetListByCollection" />
  </message>
  <message name="AlbumGetListByCollectionSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="AlbumGetListByCollectionSoapOut">
    <part name="parameters" element="tns:AlbumGetListByCollectionResponse" />
  </message>
  <message name="AlbumGetListByCollectionSoap12In">
    <part name="parameters" element="tns:AlbumGetListByCollection" />
  </message>
  <message name="AlbumGetListByCollectionSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="AlbumGetListByCollectionSoap12Out">
    <part name="parameters" element="tns:AlbumGetListByCollectionResponse" />
  </message>
  <message name="AlbumGetListByHighlightedSoapIn">
    <part name="parameters" element="tns:AlbumGetListByHighlighted" />
  </message>
  <message name="AlbumGetListByHighlightedSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="AlbumGetListByHighlightedSoapOut">
    <part name="parameters" element="tns:AlbumGetListByHighlightedResponse" />
  </message>
  <message name="AlbumGetListByHighlightedSoap12In">
    <part name="parameters" element="tns:AlbumGetListByHighlighted" />
  </message>
  <message name="AlbumGetListByHighlightedSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="AlbumGetListByHighlightedSoap12Out">
    <part name="parameters" element="tns:AlbumGetListByHighlightedResponse" />
  </message>
  <message name="AlbumGetListByUserSoapIn">
    <part name="parameters" element="tns:AlbumGetListByUser" />
  </message>
  <message name="AlbumGetListByUserSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="AlbumGetListByUserSoapOut">
    <part name="parameters" element="tns:AlbumGetListByUserResponse" />
  </message>
  <message name="CollectionGetListByUserSoapIn">
    <part name="parameters" element="tns:CollectionGetListByUser" />
  </message>
  <message name="CollectionGetListByUserSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="CollectionGetListByUserSoapOut">
    <part name="parameters" element="tns:CollectionGetListByUserResponse" />
  </message>
  <message name="CollectionGetListByUserSoap12In">
    <part name="parameters" element="tns:CollectionGetListByUser" />
  </message>
  <message name="CollectionGetListByUserSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="CollectionGetListByUserSoap12Out">
    <part name="parameters" element="tns:CollectionGetListByUserResponse" />
  </message>
  <message name="DummyEchoSoapIn">
    <part name="parameters" element="tns:DummyEcho" />
  </message>
  <message name="DummyEchoSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="DummyEchoSoapOut">
    <part name="parameters" element="tns:DummyEchoResponse" />
  </message>
  <message name="ImageAddToAlbumSoapIn">
    <part name="parameters" element="tns:ImageAddToAlbum" />
  </message>
  <message name="ImageAddToAlbumSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageAddToAlbumSoapOut">
    <part name="parameters" element="tns:ImageAddToAlbumResponse" />
  </message>
  <message name="ImageCreateSoapIn">
    <part name="parameters" element="tns:ImageCreate" />
  </message>
  <message name="ImageCreateSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageCreateSoapOut">
    <part name="parameters" element="tns:ImageCreateResponse" />
  </message>
  <message name="ImageDeleteSoapIn">
    <part name="parameters" element="tns:ImageDelete" />
  </message>
  <message name="ImageDeleteSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageDeleteSoapOut">
    <part name="parameters" element="tns:ImageDeleteResponse" />
  </message>
  <message name="ImageDetailsSoapIn">
    <part name="parameters" element="tns:ImageDetails" />
  </message>
  <message name="ImageDetailsSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageDetailsSoapOut">
    <part name="parameters" element="tns:ImageDetailsResponse" />
  </message>
  <message name="ImageEditSoapIn">
    <part name="parameters" element="tns:ImageEdit" />
  </message>
  <message name="ImageEditSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageEditSoapOut">
    <part name="parameters" element="tns:ImageEditResponse" />
  </message>
  <message name="ImageGetListBySearchSoapIn">
    <part name="parameters" element="tns:ImageGetListBySearch" />
  </message>
  <message name="ImageGetListBySearchSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageGetListBySearchSoapOut">
    <part name="parameters" element="tns:ImageGetListBySearchResponse" />
  </message>
  <message name="ImageGetListByTagsSoapIn">
    <part name="parameters" element="tns:ImageGetListByTags" />
  </message>
  <message name="ImageGetListByTagsSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageGetListByTagsSoapOut">
    <part name="parameters" element="tns:ImageGetListByTagsResponse" />
  </message>
  <message name="ImageGetListByUserSoapIn">
    <part name="parameters" element="tns:ImageGetListByUser" />
  </message>
  <message name="ImageGetListByUserSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageGetListByUserSoapOut">
    <part name="parameters" element="tns:ImageGetListByUserResponse" />
  </message>
  <message name="ImageGetListByUserAlbumSoapIn">
    <part name="parameters" element="tns:ImageGetListByUserAlbum" />
  </message>
  <message name="ImageGetListByUserAlbumSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageGetListByUserAlbumSoapOut">
    <part name="parameters" element="tns:ImageGetListByUserAlbumResponse" />
  </message>
  <message name="ImageNotifyViewSoapIn">
    <part name="parameters" element="tns:ImageNotifyView" />
  </message>
  <message name="ImageNotifyViewSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageNotifyViewSoapOut">
    <part name="parameters" element="tns:ImageNotifyViewResponse" />
  </message>
  <message name="ImageNotifyViewSoap12In">
    <part name="parameters" element="tns:ImageNotifyView" />
  </message>
  <message name="ImageNotifyViewSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageNotifyViewSoap12Out">
    <part name="parameters" element="tns:ImageNotifyViewResponse" />
  </message>
  <message name="ImageRemoveFromAlbumSoapIn">
    <part name="parameters" element="tns:ImageRemoveFromAlbum" />
  </message>
  <message name="ImageRemoveFromAlbumSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageRemoveFromAlbumSoapOut">
    <part name="parameters" element="tns:ImageRemoveFromAlbumResponse" />
  </message>
  <message name="ImageRemoveFromAlbumSoap12In">
    <part name="parameters" element="tns:ImageRemoveFromAlbum" />
  </message>
  <message name="ImageRemoveFromAlbumSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="ImageRemoveFromAlbumSoap12Out">
    <part name="parameters" element="tns:ImageRemoveFromAlbumResponse" />
  </message>
  <message name="TagsGetListByHighlightedSoapIn">
    <part name="parameters" element="tns:TagsGetListByHighlighted" />
  </message>
  <message name="TagsGetListByHighlightedSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="TagsGetListByHighlightedSoapOut">
    <part name="parameters" element="tns:TagsGetListByHighlightedResponse" />
  </message>
  <message name="TagsGetListByHighlightedSoap12In">
    <part name="parameters" element="tns:TagsGetListByHighlighted" />
  </message>
  <message name="TagsGetListByHighlightedSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="TagsGetListByHighlightedSoap12Out">
    <part name="parameters" element="tns:TagsGetListByHighlightedResponse" />
  </message>
  <message name="UserCreateSoapIn">
    <part name="parameters" element="tns:UserCreate" />
  </message>
  <message name="UserCreateSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="UserCreateSoapOut">
    <part name="parameters" element="tns:UserCreateResponse" />
  </message>
  <message name="UserDetailsSoapIn">
    <part name="parameters" element="tns:UserDetails" />
  </message>
  <message name="UserDetailsSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="UserDetailsSoapOut">
    <part name="parameters" element="tns:UserDetailsResponse" />
  </message>
  <message name="UserGetListByHighlightedSoapIn">
    <part name="parameters" element="tns:UserGetListByHighlighted" />
  </message>
  <message name="UserGetListByHighlightedSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="UserGetListByHighlightedSoapOut">
    <part name="parameters" element="tns:UserGetListByHighlightedResponse" />
  </message>
  <message name="UserGetListByHighlightedSoap12In">
    <part name="parameters" element="tns:UserGetListByHighlighted" />
  </message>
  <message name="UserGetListByHighlightedSoap12InHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="UserGetListByHighlightedSoap12Out">
    <part name="parameters" element="tns:UserGetListByHighlightedResponse" />
  </message>
  <message name="UserGetTagsSoapIn">
    <part name="parameters" element="tns:UserGetTags" />
  </message>
  <message name="UserGetTagsSoapInHeaders">
    <part name="ESBAccessKey" element="mrkt0:ESBAccessKey" />
  </message>
  <message name="UserGetTagsSoapOut">
    <part name="parameters" element="tns:UserGetTagsResponse" />
  </message>
  <portType name="PhotosSoapSecure">
    <operation name="AlbumCreate">
      <documentation>Creates an album in the Fotos platform.</documentation>
      <input message="tns:AlbumCreateSoapIn" />
      <output message="tns:AlbumCreateSoapOut" />
    </operation>
    <operation name="AlbumGetListByCollection">
      <documentation>Returns an array of Albums for a given collection.</documentation>
      <input message="tns:AlbumGetListByCollectionSoapIn" />
      <output message="tns:AlbumGetListByCollectionSoapOut" />
    </operation>
    <operation name="AlbumGetListByHighlighted">
      <documentation>Returns a list of featured albums for a given interface (default is fotos.sapo.pt).</documentation>
      <input message="tns:AlbumGetListByHighlightedSoapIn" />
      <output message="tns:AlbumGetListByHighlightedSoapOut" />
    </operation>
    <operation name="AlbumGetListByUser">
      <documentation>Returns a list of albums for a particular user (special album 'Ao Molho', as well as the rest, except the  album 'Favoritos' that will have its own methods).</documentation>
      <input message="tns:AlbumGetListByUserSoapIn" />
      <output message="tns:AlbumGetListByUserSoapOut" />
    </operation>
    <operation name="CollectionGetListByUser">
      <documentation>Returns an array of collections for a given user.</documentation>
      <input message="tns:CollectionGetListByUserSoapIn" />
      <output message="tns:CollectionGetListByUserSoapOut" />
    </operation>
    <operation name="DummyEcho">
      <documentation>Provides an echo, for testing purposes. Use this to test the API access in production. If the optional parameter is specified, it is appended in the result to the timestamp returned.</documentation>
      <input message="tns:DummyEchoSoapIn" />
      <output message="tns:DummyEchoSoapOut" />
    </operation>
    <operation name="ImageAddToAlbum">
      <documentation>Adds an image to one or more albums of the same user.</documentation>
      <input message="tns:ImageAddToAlbumSoapIn" />
      <output message="tns:ImageAddToAlbumSoapOut" />
    </operation>
    <operation name="ImageCreate">
      <documentation>&lt;p&gt;Creates an image in the Fotos platform.&lt;/p&gt;
&lt;p&gt;The image upload through the Fotos API is a two step process.&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;First you need to call the ImageCreate method with the meta-info related to the image. This method returns, along with more image related platform-specific information, a token which you will have to use as the 'token' named parameter passed on step 2.
&lt;li&gt;Second you need to do a POST call to http://fotos.sapo.pt/uploadPost.html, along with the image file. This token's TTL is 10 minutes, which should give you more than enough time to complete the whole process.
The file to be sent via POST does not need a specific name for it input file type, any can be used.
&lt;/li&gt; 
&lt;/ul&gt;</documentation>
      <input message="tns:ImageCreateSoapIn" />
      <output message="tns:ImageCreateSoapOut" />
    </operation>
    <operation name="ImageDelete">
      <documentation>Deletes an Image from the service</documentation>
      <input message="tns:ImageDeleteSoapIn" />
      <output message="tns:ImageDeleteSoapOut" />
    </operation>
    <operation name="ImageDetails">
      <documentation>Image metadata details.</documentation>
      <input message="tns:ImageDetailsSoapIn" />
      <output message="tns:ImageDetailsSoapOut" />
    </operation>
    <operation name="ImageEdit">
      <documentation>Edits an image on the Fotos platform. Invoke the method ImageEdit with the meta-information corresponding to the image. This method returns the image with the updated meta-information that was sent by the user.</documentation>
      <input message="tns:ImageEditSoapIn" />
      <output message="tns:ImageEditSoapOut" />
    </operation>
    <operation name="ImageGetListBySearch">
      <documentation>Searches the Fotos database for images related to the search terms.</documentation>
      <input message="tns:ImageGetListBySearchSoapIn" />
      <output message="tns:ImageGetListBySearchSoapOut" />
    </operation>
    <operation name="ImageGetListByTags">
      <documentation>Gets a list of images marked with the given tags. It is also possible to narrow it down to a specific user, specify m18 access and the order of the list.</documentation>
      <input message="tns:ImageGetListByTagsSoapIn" />
      <output message="tns:ImageGetListByTagsSoapOut" />
    </operation>
    <operation name="ImageGetListByUser">
      <documentation>Returns a list of images from a particular user.</documentation>
      <input message="tns:ImageGetListByUserSoapIn" />
      <output message="tns:ImageGetListByUserSoapOut" />
    </operation>
    <operation name="ImageGetListByUserAlbum">
      <documentation>Returnsa list of images for a specific user/album pair.</documentation>
      <input message="tns:ImageGetListByUserAlbumSoapIn" />
      <output message="tns:ImageGetListByUserAlbumSoapOut" />
    </operation>
    <operation name="ImageNotifyView">
      <documentation>Notifies the platform that an image visualization has occurred. Administrator permissions are required.</documentation>
      <input message="tns:ImageNotifyViewSoapIn" />
      <output message="tns:ImageNotifyViewSoapOut" />
    </operation>
    <operation name="ImageRemoveFromAlbum">
      <documentation>Removes an image from a given list of albums.</documentation>
      <input message="tns:ImageRemoveFromAlbumSoapIn" />
      <output message="tns:ImageRemoveFromAlbumSoapOut" />
    </operation>
    <operation name="TagsGetListByHighlighted">
      <documentation>Fetch a list of current highlighted tags</documentation>
      <input message="tns:TagsGetListByHighlightedSoapIn" />
      <output message="tns:TagsGetListByHighlightedSoapOut" />
    </operation>
    <operation name="UserCreate">
      <documentation>Creates a user in the SAPO Fotos platform</documentation>
      <input message="tns:UserCreateSoapIn" />
      <output message="tns:UserCreateSoapOut" />
    </operation>
    <operation name="UserDetails">
      <documentation>Returns the account details of an user of the Fotos platform.</documentation>
      <input message="tns:UserDetailsSoapIn" />
      <output message="tns:UserDetailsSoapOut" />
    </operation>
    <operation name="UserGetListByHighlighted">
      <documentation>Returns the list of users in highligh for a given interface (default is: fotos.sapo.pt).</documentation>
      <input message="tns:UserGetListByHighlightedSoapIn" />
      <output message="tns:UserGetListByHighlightedSoapOut" />
    </operation>
    <operation name="UserGetTags">
      <documentation>Returns a list of tags used by a particular user.</documentation>
      <input message="tns:UserGetTagsSoapIn" />
      <output message="tns:UserGetTagsSoapOut" />
    </operation>
  </portType>
  <portType name="PhotosSoap12Secure">
    <operation name="AlbumGetListByCollection">
      <documentation>Returns an array of Albums for a given collection.</documentation>
      <input message="tns:AlbumGetListByCollectionSoap12In" />
      <output message="tns:AlbumGetListByCollectionSoap12Out" />
    </operation>
    <operation name="AlbumGetListByHighlighted">
      <documentation>Returns a list of featured albums for a given interface (default is fotos.sapo.pt).</documentation>
      <input message="tns:AlbumGetListByHighlightedSoap12In" />
      <output message="tns:AlbumGetListByHighlightedSoap12Out" />
    </operation>
    <operation name="CollectionGetListByUser">
      <documentation>Returns an array of collections for a given user.</documentation>
      <input message="tns:CollectionGetListByUserSoap12In" />
      <output message="tns:CollectionGetListByUserSoap12Out" />
    </operation>
    <operation name="ImageNotifyView">
      <documentation>Notifies the platform that an image visualization has occurred. Administrator permissions are required.</documentation>
      <input message="tns:ImageNotifyViewSoap12In" />
      <output message="tns:ImageNotifyViewSoap12Out" />
    </operation>
    <operation name="ImageRemoveFromAlbum">
      <documentation>Removes an image from a given list of albums.</documentation>
      <input message="tns:ImageRemoveFromAlbumSoap12In" />
      <output message="tns:ImageRemoveFromAlbumSoap12Out" />
    </operation>
    <operation name="TagsGetListByHighlighted">
      <documentation>Fetch a list of current highlighted tags</documentation>
      <input message="tns:TagsGetListByHighlightedSoap12In" />
      <output message="tns:TagsGetListByHighlightedSoap12Out" />
    </operation>
    <operation name="UserGetListByHighlighted">
      <documentation>Returns the list of users in highligh for a given interface (default is: fotos.sapo.pt).</documentation>
      <input message="tns:UserGetListByHighlightedSoap12In" />
      <output message="tns:UserGetListByHighlightedSoap12Out" />
    </operation>
  </portType>
  <binding name="PhotosSoapSecure" type="tns:PhotosSoapSecure">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AlbumCreate">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/AlbumCreate" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:AlbumCreateSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AlbumGetListByCollection">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/AlbumGetListByCollection" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:AlbumGetListByCollectionSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AlbumGetListByHighlighted">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/AlbumGetListByHighlighted" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:AlbumGetListByHighlightedSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AlbumGetListByUser">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/AlbumGetListByUser" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:AlbumGetListByUserSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CollectionGetListByUser">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/CollectionGetListByUser" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:CollectionGetListByUserSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DummyEcho">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/DummyEcho" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:DummyEchoSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageAddToAlbum">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageAddToAlbum" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageAddToAlbumSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageCreate">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageCreate" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageCreateSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageDelete">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageDelete" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageDeleteSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageDetails">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageDetails" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageDetailsSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageEdit">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageEdit" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageEditSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageGetListBySearch">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageGetListBySearch" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageGetListBySearchSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageGetListByTags">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageGetListByTags" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageGetListByTagsSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageGetListByUser">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageGetListByUser" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageGetListByUserSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageGetListByUserAlbum">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageGetListByUserAlbum" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageGetListByUserAlbumSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageNotifyView">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageNotifyView" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageNotifyViewSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageRemoveFromAlbum">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageRemoveFromAlbum" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:ImageRemoveFromAlbumSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TagsGetListByHighlighted">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/TagsGetListByHighlighted" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:TagsGetListByHighlightedSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UserCreate">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/UserCreate" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:UserCreateSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UserDetails">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/UserDetails" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:UserDetailsSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UserGetListByHighlighted">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/UserGetListByHighlighted" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:UserGetListByHighlightedSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UserGetTags">
      <soap:operation soapAction="http://services.sapo.pt/definitions/Photos/UserGetTags" style="document" />
      <input>
        <soap:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap:header d5p1:required="true" message="tns:UserGetTagsSoapInHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="PhotosSoap12Secure" type="tns:PhotosSoap12Secure">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AlbumGetListByCollection">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/AlbumGetListByCollection" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:AlbumGetListByCollectionSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="AlbumGetListByHighlighted">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/AlbumGetListByHighlighted" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:AlbumGetListByHighlightedSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="CollectionGetListByUser">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/CollectionGetListByUser" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:CollectionGetListByUserSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ImageNotifyView">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageNotifyView" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:ImageNotifyViewSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ImageRemoveFromAlbum">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/ImageRemoveFromAlbum" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:ImageRemoveFromAlbumSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="TagsGetListByHighlighted">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/TagsGetListByHighlighted" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:TagsGetListByHighlightedSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="UserGetListByHighlighted">
      <soap12:operation soapAction="http://services.sapo.pt/definitions/Photos/UserGetListByHighlighted" style="document" />
      <input>
        <soap12:header message="tns:ESBCredentialsSoapIn" part="ESBCredentials" use="literal" />
        <soap12:header d5p1:required="true" message="tns:UserGetListByHighlightedSoap12InHeaders" part="ESBAccessKey" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Photos">
    <documentation>The SAPO Fotos 2.0 webservice API allows easier integration of third party services and applications, both internal and external, with the Fotos service. It is comprised of a growing set of methods for easy access and management of user accounts and images.</documentation>
    <port name="PhotosSoapSecure" binding="tns:PhotosSoapSecure">
      <soap:address location="https://services.sapo.pt/Photos" />
    </port>
    <port name="PhotosSoap12Secure" binding="tns:PhotosSoap12Secure">
      <soap12:address location="https://services.sapo.pt/Photos" />
    </port>
  </service>
</definitions>